body {

}

.page-header {
  	margin-top: 10px;
}

.page-header h1 {
	display: inline;
}

.sharetoken {
	width: 395px;
}

.form-control[readonly] {
	cursor: text;
}

.checkbox, .radio {
    margin: 0;
}

.navbar-custom {
	border-radius: 0;
}

.panel-title a {
	color: #428bca;
	padding-left: 5px;
}

.panel-title a:hover {
	color: black;
	cursor: pointer;
}

.form-control-my {
	display: inline-block;
	height: 18px;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bezhref {
	cursor: pointer;
}

.btns {
    margin-left: 7px;
}

.well-head {
    margin-top: 0;
    margin-bottom: 20px;
}

.fblike {
    margin-top: 20px;
}

.checks li {
    padding-top: 8px;
}

.checks span {
    padding-right: 5px;
}

.tlogo {
    padding: 8px 0 8px 8px;
}

.sred {
    color: red;
}

.footer {
    margin-top: 30px;
    padding-top: 50px;
    margin-bottom: 40px;
    border-top: 1px solid rgb(238, 238, 238);
    color: rgb(153, 153, 153);
}

.before {
    margin-bottom: 20px;
}

.profile-pic {
    background: url("../img/icons/User.png") no-repeat;
    background-size: contain;
    padding-left: 1.2em;
}

.checkbox_labels, .radio_labels {
    font-weight: normal;
}

.ptop {
    padding-top: 5px;
}

div.ui-datepicker {
    font-size: 13px;
}

/* Home */

.headrow {
    margin-top: -20px;
    padding: 30px 0 30px 0;
    background: rgba(0, 0, 0, 0) url("../img/landing_bg.jpg") scroll;
    background-clip: border-box;
    background-origin: padding-box;
}

.headrow .whyt {
    color: #f5f5f5;
    text-shadow: black 0 0 0.3em;
}

.whyt ul li {
    font-size: 1.1em;
}

.form-signin {
    width: 330px;
    height: 320px;
    margin: 0 auto;
    padding: 10px 25px;
    background-image: url("../img/regbg.png");
    background-position: 0px 8px;
    background-repeat: no-repeat;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input {
    margin-bottom: 10px;
}
.form-signin label {
    font-weight: normal;
}
.error {
    color: #b94a48;
}

.user-pic {
    width: 72px;
    height: 72px;
    margin: 60px auto 20px auto;
}

.user-pic img {
    width: 72px;
    height: 72px;
}

.team img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.team img:hover {
    opacity: 0.7;
}

.team .fotka {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px auto;
}

.team h4 {
    text-align: center;
    margin-bottom: 5px;
}

.team h5 {
    text-align: center;
    margin-top: 0;
}

.team .lead {
    padding-top: 20px;
}

/* How it works */

.title { background: url(../img/title.png) repeat-x scroll 0 20px ;  height:24px; width:100%; }
.title h3 { margin:0 auto; padding:8px 0; display:block; height:26px; text-align:center; width:300px; border-radius:20px; background: none repeat scroll 0 0 #dadcdd; font-weight:700; font-size:22px; color:#47494a; text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.4);  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8); }

.icon {  width:72px; height: 72px; margin:0 auto;  }
.icon img { width: 72px; height: 72px; }
.featu { margin:20px 0 0 0; }

.featu  h6 { margin:20px 0 0; font-size:18px; text-align:center; font-weight:600; color:#47494a; }
.featu  p { margin:20px 55px 0; line-height:24px; font-size:14px; text-align:center; font-weight:400; color:#7b8285;}

.step { background: url(../img/title2.png) repeat-x scroll 0 15px ; margin:30px 18% ; height:24px;  }
.step p { box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5); width:60px; margin:0 auto; padding:2px 10px; height:26px; border-radius:20px; background: none repeat scroll 0 0 #dadcdd; color:#6a7479; font-size:12px; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3); }

/* Lightbox */

/* line 7, ../sass/lightbox.sass */
body:after {
  content: url(../img/lclose.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 4px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../img/prev.png) left 48% no-repeat;
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../img/next.png) right 48% no-repeat;
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/lclose.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
