/* line 17, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../design/sass/_form.scss */
form {
  margin: 15px auto;
  width: 440px;
}

/* line 5, ../../../design/sass/_form.scss */
.submit-form {
  margin: 0 auto;
  display: block;
  width: 140px;
  padding: 5px 0;
  border-radius: 3px;
  border: thin solid #1F8DD6;
  background: #1F8DD6;
  cursor: pointer;
  color: white;
}
/* line 15, ../../../design/sass/_form.scss */
.submit-form:hover {
  background: #0e7cc5;
}

/* line 19, ../../../design/sass/_form.scss */
.signout-button {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  border: thin solid #61B842;
  background: #61B842;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 34px;
  right: 0;
}
/* line 34, ../../../design/sass/_form.scss */
.signout-button:hover {
  background: #50a731;
  text-decoration: none;
}

/* line 40, ../../../design/sass/_form.scss */
.input-group {
  margin: 5px 0;
  position: relative;
}
/* line 43, ../../../design/sass/_form.scss */
.input-group label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
  font-size: 0.9em;
}
/* line 50, ../../../design/sass/_form.scss */
.input-group input, .input-group select {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: thin solid #CCCDCE;
  padding: 5px;
  display: inline-block;
  width: 150px;
}
/* line 57, ../../../design/sass/_form.scss */
.input-group input:focus, .input-group select:focus {
  outline: none;
  background: #fafafa;
}
/* line 62, ../../../design/sass/_form.scss */
.input-group select {
  background: white;
  width: 160px;
}
/* line 67, ../../../design/sass/_form.scss */
.input-group.conditions input {
  margin-left: 130px;
  width: auto;
}
/* line 70, ../../../design/sass/_form.scss */
.input-group.conditions input:focus {
  outline: thin solid #aaa;
}
/* line 72, ../../../design/sass/_form.scss */
.input-group.conditions label {
  width: auto;
}

/* line 77, ../../../design/sass/_form.scss */
.error {
  position: absolute;
  width: 300px;
  top: 9px;
  font-size: 13px;
  margin-left: 10px;
  color: #D4313A;
}

/* line 85, ../../../design/sass/_form.scss */
.login {
  position: absolute;
  top: 0;
  right: 20px;
}

/* line 91, ../../../design/sass/_form.scss */
.login-form {
  width: auto;
  position: relative;
}
/* line 94, ../../../design/sass/_form.scss */
.login-form .input-group {
  display: inline-block;
}
/* line 96, ../../../design/sass/_form.scss */
.login-form .input-group label {
  display: block;
  text-align: left;
}
/* line 101, ../../../design/sass/_form.scss */
.login-form .submit-form {
  display: inline-block;
  width: auto;
  padding: 5px;
}

/* line 2, ../../../design/sass/_list.scss */
.list li {
  width: 500px;
  margin: 10px auto;
  padding: 0 10px;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
/* line 11, ../../../design/sass/_list.scss */
.list li:hover {
  background: #eaeaea;
}
/* line 15, ../../../design/sass/_list.scss */
.list a {
  display: block;
  overflow: hidden;
}
/* line 19, ../../../design/sass/_list.scss */
.list img {
  float: right;
  width: 128px;
  height: 128px;
}
/* line 24, ../../../design/sass/_list.scss */
.list h3 {
  margin-top: 30px;
  float: left;
  color: #333;
  font-size: 1.5em;
}

/* line 1, ../../../design/sass/_exponat.scss */
table {
  width: 300px;
  margin: 15px auto;
  background: white;
  border: thin solid #C3C3C3;
}
/* line 7, ../../../design/sass/_exponat.scss */
table td, table th {
  padding: 5px 0 5px 10px;
}
/* line 11, ../../../design/sass/_exponat.scss */
table th {
  font-weight: bold;
}
/* line 14, ../../../design/sass/_exponat.scss */
table tbody tr {
  border-top: thin solid #e3e3e3;
  -webkit-transition: .1s all;
  -moz-transition: .1s all;
  -ms-transition: .1s all;
  -o-transition: .1s all;
  transition: .1s all;
}
/* line 21, ../../../design/sass/_exponat.scss */
table tbody tr:first-child {
  border-top: none;
}
/* line 24, ../../../design/sass/_exponat.scss */
table tbody tr:nth-child(even) {
  background: #fafafa;
}
/* line 27, ../../../design/sass/_exponat.scss */
table tbody tr:hover {
  background: #f5f5f5;
  background: #61B842;
  background: #1F8DD6;
  border: solid #c3c3c3;
  color: white;
  border-width: thin 0;
}
/* line 37, ../../../design/sass/_exponat.scss */
table thead tr {
  border-bottom: thin solid #c3c3c3;
  background: #f5f5f5;
}

/* line 1, ../../../design/sass/_text.scss */
h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

/* line 7, ../../../design/sass/_text.scss */
h3 {
  text-align: center;
  color: #333;
  font-size: 1.5em;
  margin: 10px;
}

/* line 14, ../../../design/sass/_text.scss */
a {
  color: #444;
  padding: 5 5px;
  color: #36646c;
  text-decoration: none;
}
/* line 19, ../../../design/sass/_text.scss */
a:hover {
  text-decoration: underline;
}

/* line 7, ../../../design/sass/screen.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  background: #F0F2FA;
}

/* line 1, ../../../design/sass/_header.scss */
#header {
  background: white;
  border-bottom: thin solid #C3C3C3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}
/* line 9, ../../../design/sass/_header.scss */
#header h1 a {
  background: url('images/logo_stm.jpg?1371452041') no-repeat;
  background-size: 350px 100px;
  display: inline-block;
  height: 100px;
  width: 350px;
  color: transparent;
  border-top-left-radius: 5px;
}

/* line 21, ../../../design/sass/_header.scss */
.register-button {
  display: inline-block;
  padding: 7px 5px 6px 5px;
  border-radius: 3px;
  border: thin solid #61B842;
  background: #61B842;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 13px;
}
/* line 32, ../../../design/sass/_header.scss */
.register-button:hover {
  background: #50a731;
  text-decoration: none;
}

/* line 38, ../../../design/sass/_header.scss */
.recovery-password {
  font-size: 13px;
  text-align: right;
}

/* line 45, ../../../design/sass/_header.scss */
.link {
  display: inline-block;
  position: absolute;
  top: 36px;
  right: 90px;
  padding: 7px 5px 6px 5px;
  border-radius: 3px;
  border: thin solid #1F8DD6;
  background: #1F8DD6;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 13px;
}
/* line 59, ../../../design/sass/_header.scss */
.link:hover {
  background: #0e7cc5;
  text-decoration: none;
}

/* line 15, ../../../design/sass/screen.scss */
#main {
  margin: 30px auto;
  width: 960px;
  background: #F3F3F3;
  border: thin solid #C3C3C3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px #cccad2;
  box-shadow: 0 1px 5px #cccad2;
}

/* line 26, ../../../design/sass/screen.scss */
#content {
  padding: 20px 20px;
}

/* line 1, ../../../design/sass/_footer.scss */
#footer {
  border-top: thin solid #C3C3C3;
  background: white;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}
/* line 9, ../../../design/sass/_footer.scss */
#footer li {
  display: inline;
}
/* line 11, ../../../design/sass/_footer.scss */
#footer li:before {
  content: "|";
}
/* line 14, ../../../design/sass/_footer.scss */
#footer li:first-child:before {
  content: "";
}
/* line 18, ../../../design/sass/_footer.scss */
#footer a {
  color: #444;
  text-decoration: none;
  padding: 0 10px;
  font-size: 0.9em;
}
/* line 23, ../../../design/sass/_footer.scss */
#footer a:hover {
  text-decoration: underline;
  color: #36646c;
}
